body {
    background-color: #252526;
}
.header-wrapper{
    background-image: radial-gradient(80% 50% at 50% 0%, rgba(94, 176, 239, .5), hsla(0, 0%, 100%, 0));
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 500px;
    border: 1px solid red;
}
header{
  display: flex;
  flex-direction: column;
  max-width: 80%;  
  margin-inline: auto;
}
nav, a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
.nav-links{
    display: flex;
    gap: 15px;
}
h1{
    font-size: 42px;
}