body {
    background-color: #252526;
}
header{
  display: flex;
  flex-direction: column;
  max-width: 80rem;  
  min-height: 55rem;
  margin-inline: auto;
  color: rgb(161 161 170);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid red;
}
nav, a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
    padding: 0 .625rem;
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
.nav-links{
    display: flex;
}
.header-content{
    color: rgb(161 161 170);
    text-align: center;
    max-width: 55rem;
    margin-inline: auto;
    margin-top: 7rem;
}
.header-content > h1{
    font-size: 4.5rem;
    line-height: 1.07;
    font-weight: 700;
}
.header-content > p{
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 1.25rem 20px 0px 20px;
    margin-top: 1rem;
}
.header-button{
    background-color: transparent;
    border: solid white 1px;
    border-radius: 10px;
    padding: .6rem;
    color: white;
    margin-top: 2.2rem;
}